PRISMA_DATABASE=parser

PRISMA_USER_DEV=frodo
PRISMA_PASSWORD_DEV=123456

PRISMA_USER_PROD=aragorn
PRISMA_PASSWORD_PROD=123456

PRISMA_HOST=mysql_db
MYSQL_ROOT_PASSWORD=123456

DATABASE_URL="mysql://$PRISMA_USER_DEV:$PRISMA_PASSWORD_DEV@$PRISMA_HOST:3306/$PRISMA_DATABASE"

NODE_ENV=development
