<div class="container" *ngLet="parserService.status$ | async as status">

  <mat-toolbar class="toolbar" [color]="status === 'parsing' ? 'warn' : 'primary' ">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="app-name">Olx scrapper</h1>
    <p class="status" (click)="parserService.emitConfig({})">
      Status: {{status}}
    </p>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #snav fixedTopGap="56" opened>
      <ng-container *ngFor="let parseUnits of [parserService.parseUnits$ | async]">
        <app-sidebar [parseUnits]="parseUnits" [status]="status"></app-sidebar>
      </ng-container>
    </mat-sidenav>

    <mat-sidenav-content>
      <app-results></app-results>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
