.content {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  height: 100%;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  min-width: 288px;
}

.title h2 {
  margin: 0;
}

.list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  padding: 16px;
}

.empty-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.parser {
  position: sticky;
  bottom: 0;
  background-color: red;
}
