<div class="content">
  <div class="parse-units">
    <div class="title">
      <h2>Parse unit list</h2>

      <button mat-mini-fab color="primary" (click)="setIsCreateParseUnit(true)">
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <ng-container *ngIf="selectableParseUnits | async as parseUnits">
      <div class="list">
        <app-parse-unit *ngFor="let parseUnit of parseUnits" [parseUnit]="parseUnit" (onFormClose)="onFormClose()"
          (deleteParseUnit)="deleteParseUnit($event)" (onToggle)="onToggle($event)">
        </app-parse-unit>

        <app-parse-unit *ngIf="isCreateParseUnit" [parseUnit]="emptyParseUnit" (onFormClose)="onFormClose()"
          (deleteParseUnit)="deleteParseUnit($event)"></app-parse-unit>
      </div>

      <div class="empty-placeholder" *ngIf="!parseUnits?.length">
        <img src="../../../../assets/empty-placeholder.jpeg" alt="" width="220px" height="220px" />

        <p>
          There is no parse unit. Press + button to add.
        </p>
      </div>
    </ng-container>

  </div>

  <div class="parser">
    Parser block

  </div>
</div>
