.card-view {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 16px;
  padding: 8px;
}

.card-view:not(:last-child) {
  margin-bottom: 16px;
}

.site-url-view {
  width: 288px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
