<mat-card *ngIf="state !== 'create'" (click)="toggle()">
  <mat-card-content>
    <p>Name: {{parseUnit.name}}</p>
    <p class="site-url-view">SiteUrl: {{parseUnit.siteUrl}}</p>
    <p>Frequency: {{ parseUnit.frequency }}ms</p>

    <mat-card-actions class="controls">
      <button mat-icon-button (click)="edit()">
        <mat-icon>edit</mat-icon>
      </button>

      <button mat-icon-button (click)="delete()">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
