.active {
  background: #A5D6A7;
}

.site-url-view {
  max-width: 350px;
  white-space: wrap;
  word-break: break-all;
  overflow: hidden;
}

.controls {
  display: flex;
  justify-content: space-between;
}
